<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>ECHR Open Data Explorer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- Dashboard Core -->


    <link href="{{ url_for('assets', path='css/tabler.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('assets', path='css/tabler-flags.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('assets', path='css/tabler-flags.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('assets', path='css/tabler-vendors.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('assets', path='css/demo.min.css') }}" rel="stylesheet" />


    <script src="{{ url_for('assets', path='/js/vendors/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/core.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/dashboard.js') }}"></script>
    <link href="{{ url_for('assets', path='/css/dashboard.css') }}" rel="stylesheet" />



    <script src="{{ url_for('assets', path='/js/vendors/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/selectize.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/jquery-jvectormap-de-merc.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/jquery-jvectormap-world-mill.js') }}"></script>
    <script src="{{ url_for('assets', path='/js/vendors/circle-progress.min.js') }}"></script>


    <!-- c3.js Charts Plugin -->
    <link href="{{ url_for('assets', path='/plugins/charts-c3/plugin.css') }}" rel="stylesheet" />
    <script src="{{ url_for('assets', path='/plugins/charts-c3/js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('assets', path='/plugins/charts-c3/js/c3.min.js') }}"></script>
    <!-- Input Mask Plugin -->
    <script src="{{ url_for('assets', path='/plugins/input-mask/js/jquery.mask.min.js') }}"></script>
    <!-- Datatables Plugin -->
    <script src="{{ url_for('assets', path='/plugins/datatables/datatables.min.js') }}"></script>
    <link href="{{ url_for('assets', path='/css/datatables.css') }}" rel="stylesheet" />
  </head>
  <body class="antialiased">
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="/">
                <img src="{{ url_for('assets', path='/images/logo.png') }}" class="header-brand-img" alt="ECHR OpenData logo"> ECHR Open Data Explorer
              </a>
              
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">

              </div>
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="/" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/explore/" class="nav-link"><i class="fe fe-database"></i> Explore</a>
                  </li>
                  <li class="nav-item">
                    <a href="/download/" class="nav-link"><i class="fe fe-package"></i> Download</a>
                  </li>
                  <li class="nav-item">
                    <a href="/connect/" class="nav-link"><i class="fe fe-code"></i> Connect&nbsp;<span class="small">(API)</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="/doc/" class="nav-link"><i class="fe fe-file-text"></i> Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a href="/charts/" class="nav-link"><i class="fe fe-pie-chart"></i> Statistics</a>
                  </li>
                  <li class="nav-item">
                    <a href="/license/" class="nav-link"><i class="fe fe-book"></i> License</a>
                  </li>
                </ul>

              </div>

            </div>

          </div>

        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="/doc/">Documentation</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              <a href=".">ECHR Open Data Explorer</a> - 2019 - 2022. Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>.
            </div>
             <p>
               The ECHR-OD project is gracefully hosted by the
               Faculty of Computing and Telecommunications of <a href="https://www.put.poznan.pl/">Poznan University of Technology</a>.
             </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>