{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        Documentation
    </h1>
</div>
<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <!-- Getting started -->
        <!-- Components -->
        <div class="list-group list-group-transparent mb-0">
            <a href="#apis_references" class="list-group-item list-group-item-action"><span class="icon mr-3"><i
                    class="fe fe-chevrons-right"></i></span>APIs References</a>
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="#creation_process" class="list-group-item list-group-item-action"><span class="icon mr-3"><i
                    class="fe fe-chevrons-right"></i></span>Creation process</a>
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="#faq" class="list-group-item list-group-item-action"><span class="icon mr-3"><i
                    class="fe fe-chevrons-right"></i></span>Frequently Asked <Questions></Questions></a>
        </div>
        <div class="list-group list-group-transparent mb-0">
            <a href="#references" class="list-group-item list-group-item-action"><span class="icon mr-3"><i
                    class="fe fe-chevrons-right"></i></span>References</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card" id="apis_references">
            <div class="card-body">
                <div class="text-wrap p-lg-6">
                    <h2 class="mt-0 mb-4">APIs References</h2>
                    <h3 id="rest">REST API</h3>
                    <div class="row">
                        <div class="col-sm-1 col-lg-1">
                            <a href="/api/v1/docs">
                            <div class="card p-3">
                                <div class="d-flex align-items-center">
                                    <span class="stamp stamp-md bg-azure mr-3">
                                      <i class="fa fa-terminal"></i>
                                    </span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-11">
                            <a href="/api/v1/docs"><strong>Interactive API docs</strong></a>
                            <p>Explore interactively the API.</p>
                        </div>

                        <div class="col-sm-1 col-lg-1">
                            <a href="/api/v1/redoc">
                            <div class="card p-3">
                                <div class="d-flex align-items-center">
                                    <span class="stamp stamp-md bg-indigo mr-3">
                                      <i class="fa fa-code"></i>
                                    </span>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-11">
                            <a href="/api/v1/redoc"><strong>Alternative API docs</strong></a>
                            <p>Alternative reference to the API generated by ReDoc.</p>
                        </div>
                    </div>
                    <h3 id="graphql">GraphQL API <div class="tag">
                                Coming soon...
                            </div></h3>
                    <div class="row">
                        <div class="col-sm-1 col-lg-1">
                            <div class="card p-3">
                                <div class="d-flex align-items-center">
                                    <span class="stamp stamp-md bg-grey mr-3">
                                      <i class="fe fe-bar-chart"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-11">
                            <strong>GraphQL API docs</strong>
                            <p>Explore interactively the API.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cards">
    <div class="col">
        <div class="card" id="creation_process">
            <div class="card-header">
                <div class="card-title"><strong>Creation process</strong></div>
            </div>
            <div class="card-body">
                <img src="/static/assets/images/echr-graph.png" />
            </div>
        </div>
    </div>
</div>


<h2 class="mt-0 mb-4" id="faq">Frequently Asked Questions & Examples</h2>
<div class="alert alert-info">
                <h3>You have a question about the ECHR or the ECHR Open Data?</h3>
                Please, open a ticket in <a href="https://github.com/echr-od/ECHR-OD_process/issues/"><strong>GitHub issue tracker</strong></a> and we might add a new answer and example.
            </div>



            <div class="row row-cards row-deck">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                      <h3 class="card-title"><i>How to access a specific section in a judgment?</i></h3>
                  </div>
                    <div class="card-body">
                        <p>We assume you need a textual representation of a specific section of the judgment document, for instance <strong>The Facts</strong>.</p>
                        <p>We also assume that you do not want to use SQL but rather a python library such as <code>pandas</code>.</p>

                        <h4 style="margin-left: 1em; padding-top: 1em; padding-bottom: 1em">1. Locating the proper section in the judgment document</h4>
                        <p>First, you need to load the file containing all the information about all cases: <code>build/unstructured/cases.json</code>.</p>

                        The file contains a list of dictionary where each dictionary represents all the information about a case.<br/>
                        The content of documents associated to a given case is under the key <code>content</code>. The field <code>content</code> contains itself a dictionary of documents related to a case.
                        <div class="alert alert-info">
                            Currently, there is only one document which is the <strong>judgment document</strong>.
                        </div>
                        The judgment representation has the form of a tree where each node is:
<pre>{
	'content': "paragraph_or_section_title"
	'elements': [<children>]
}</pre>
                        <p>For first level nodes, corresponding to the main sections of the judgment, there is an attribute <code>section_name</code> to identify specific sections.</p>
                        <p>It is then enough to find the node with the attribute <code>section_name": "facts"</code>.</p>

                        <h4 style="margin-left: 1em; padding-top: 1em; padding-bottom: 1em">2. Reconstructing the text for the specific section</h4>
                            <p>With the content of the section, if you need just the full text, you need to recursively reconstruct it.</p>
                            <p>This can be done by recursively aggregating each node using the following function:</p>
                        <script src="https://gist.github.com/aquemy/9965f6dd6263223e6f3b793a8bf5262a.js"></script>
                    </div>
                </div>
              </div>
            </div>

<div class="row row-cards">
    <div class="col">
        <div class="card" id="references">
            <div class="card-header">
                <div class="card-title"><strong>References</strong></div>
            </div>
            <div class="card-body">
                <ol>
                    <li>Alexandre Quemy and Robert Wrembel:</br> <strong>ECHR-OD: On building an integrated open repository of legal documents for machine learning applications</strong>, Information Systems, 2021</br>
                    <a href="https://www.aquemy.info/static/publications/quemy2021.pdf">[pdf]</a> <a href="https://www.sciencedirect.com/sdfe/arp/cite?pii=S0306437921000636&format=text%2Fx-bibtex&withabstract=true" />[bibtex]</a>
                    </li>
                    <li>Alexandre Quemy and Robert Wrembel:</br> <strong>On Integrating and Classifying Legal Text Documents.</strong> Database and Expert Systems Applications - 31st International Conference,
               (DEXA), 2020</br>
                        <a href="https://link.springer.com/chapter/10.1007/978-3-030-59003-1_25">[pdf]</a> <a href="https://dblp.org/rec/conf/dexa/QuemyW20.html?view=bibtex" />[bibtex]</a>
                    </li>
                    <li>Alexandre Quemy:</br> <strong>European Court of Human Right Open Data project.</strong> CoRR abs/1810.03115, 2018</br>
                        <a href="https://arxiv.org/pdf/1810.03115.pdf">[pdf]</a> <a href="https://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1810-03115" />[bibtex]</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
